<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc https://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!--扫描controller，不使用默认扫描规则-->
    <context:component-scan base-package="xyz.newtouch.crowdfunding" use-default-filters="false">
        <!--只扫描Controller相关注解-->
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <!--视图解析器-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <!--通用前缀，为了安全方便权限管控需要访问的页面全部放到WEB-INF下(外部不能直接访问到)-->
        <property name="prefix" value="/WEB-INF/pages/"/>
        <!--通用后缀-->
        <property name="suffix" value=".jsp"/>
    </bean>

    <!--静态资源处理器-->
    <mvc:default-servlet-handler/>
    <!--注解驱动-->
    <mvc:annotation-driven/>
</beans>